services:
  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    ports:
      - 5173:5173
    env_file:
      - ./ui/.env
    depends_on:
      - api
    restart: unless-stopped
    volumes:
      - ./ui:/app
      - /app/node_modules

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      - POSTGRES_USER:elicom
      - POSTGRES_PASSWORD:elicom256
      - POSTGRES_DB:kjr
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - ./api:/app
      - /app/node_modules

  db:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - 5432:5432
    restart: unless-stopped
    env_file:
      - ./api/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
